form {
  label {
    font-weight: bold;
    display: inline-block;
    max-width: 100%;
    margin: 10px 0 5px 0;
  }

  input,
  select,
  textarea {
    padding: $input-padding/2 $input-padding;
    height: 34px;
    display: block;
    width: 100%;
    @include box-shadow($input-shadow);
    @include border-radius($input-border-radius);
    border: $input-border;
    margin: 0;

    &:focus {
      outline: none;
    }
  }

  input[type="submit"] {
    margin-top: 0.85rem;
  }

  input[type="checkbox"] {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    @include box-shadow(none);
    @include border-radius(0);
  }

  select {
    &::-ms-expand { /* for IE 11 */
      display: none;
    }

    option {
      padding:5px;
    }
  }

  select[multiple] {
    height: 100px;
    option {
      padding: 3px 12px;
    }
  }

}
